swagger: "2.0"
info:
  description: ""
  version: "1.0.0"
  title: "Access API"
host: "access.mainnet.onflow.org"
basePath: "/v1"
schemes:
  - "http"
paths:
  /transaction:
    post:
      summary: "submit a transaction to the network"
      description: ""
      operationId: "sendTransaction"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "transaction to submit"
          required: true
          schema:
            $ref: "#/definitions/Transaction"
      responses:
        "405":
          description: "Invalid transaction"
  /transaction/{transactionId}:
    get:
      summary: "get transaction by ID"
      description: ""
      operationId: "findTransactionByID"
      produces:
        - "application/json"
      parameters:
        - name: "transactionId"
          in: "path"
          description: "ID of the transaction to return in format 0x[Aa-fF0-9]*"
          required: true
          type: "string"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/Transaction"
        "400":
          description: "Invalid ID supplied"
        "404":
          description: "Transaction not found"
definitions:
  Transaction:
    type: "object"
    required:
      - "script"
      - "arguments"
      - "reference_block_id"
      - "gas_limit"
      - "proposal_key"
      - "payer"
      - "authorizers"
      - "payload_signatures"
      - "envelope_signatures"
    properties:
      script:
        type: "string"
        format: "binary"
      arguments:
        type: "array"
        items:
          type: "string"
          description: format 0x[Aa-fF0-9]*
      reference_block_id:
        type: "string"
        description: format 0x[Aa-fF0-9]*
      gas_limit:
        type: "string"
      proposal_key:
        $ref: "#/definitions/TransactionProposalKey"
      payer:
        type: "string"
        description: format 0x[Aa-fF0-9]*
      authorizers:
        type: "array"
        items:
          type: "string"
          description: format 0x[Aa-fF0-9]*
      payload_signatures:
        type: "array"
        items:
          $ref: "#/definitions/TransactionSignature"
      envelope_signatures:
        type: "array"
        items:
          $ref: "#/definitions/TransactionSignature"
  TransactionProposalKey:
    type: "object"
    required:
      - "address"
      - "key_id"
      - "sequence_number"
    properties:
      address:
        type: "string"
        description: format 0x[Aa-fF0-9]*
      key_id:
        type: "string"
        description: format 0x[Aa-fF0-9]*
      sequence_number:
        type: "string"
        description: format 0x[Aa-fF0-9]*

  TransactionSignature:
    type: "object"
    required:
      - "address"
      - "key_id"
      - "signature"
    properties:
      address:
        type: "string"
        description: format 0x[Aa-fF0-9]*
      key_id:
        type: "string"
        description: format 0x[Aa-fF0-9]*
      signature:
        type: "string"
        description: format 0x[Aa-fF0-9]*

externalDocs:
  description: "Find out more about Access API"
  url: "https://docs.onflow.org/access-api/"